{% extends 'index/base.html' %}

{% block body %}
    <h1>My Dashboard</h1>
    <canvas id="myChart" width="400" height="400"></canvas>
{% endblock %}

{% block scripts %}

    <script>
        let endpoint = '/api/measurement';

        $.ajax({
            method: "GET",
            url: endpoint,
            success: function (data) {
                let filteredDataArray = data.slice(-10); //TODO: change 1- to -10
                console.log(filteredDataArray);

                let myLineChart = new Chart(ctx, {
                    type: 'line',
                    data: data,
                    options: options
                });
            },
            error: function (error) {
                console.log(error)
            }
        })
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js">
    </script>
{% endblock %}
